<%- include('partials/header') %>

    <form class="passwordResetForm">
        
        
        <div>
            <label for="email">email</label>
            <input id="email" class="inputPassword" type="email" required>
        </div>
        <div>
            <button type="submit">submit</button>
        </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/forgot.js"></script>

    <%- include('partials/footer') %>